<div id="session_info_fields">
    {% if record_id is defined %}
        <input type="hidden" value="{{record_id}}" name="s_rec_id" id="s_rec_id">
    {% endif %}
    {% if timestamp is defined %}
        <input type="hidden" value="{{timestamp}}" name="s_timestamp" id="s_timestamp">
    {% endif %}
    {% if username is defined %}
        <div class="dialog_item">
            <a id="e_user_name" data-value="{{user_id|e}}" class="field_value large_dialog_txt">{{username|e}}</a>
        </div>
    {% endif %}
    {% if email is defined %}
        <div class="dialog_item small_dialog_txt">
            <span id="s_time" class="field_value">{{email|e}}</span>
        </div>
    {% endif %}
    {% if time is defined %}
        <div class="dialog_item medium_dialog_txt" id="dialog_time_cont">
            <span id="s_time" class="field_value">{{time|e}}</span>
        </div>
    {% endif %}
    {% if activity is defined %}
        <div class="dialog_item small_dialog_txt">
            <span class="field_label">Activity:</span>
            <span id="s_time" class="field_value">{{activity}}</span>
        </div>
    {% endif %}
    {% if note is defined %}    
        <div class="dialog_item small_dialog_txt">
            <span class="field_label">Note:&nbsp;</span>
            <span id="e_note" class="field_value">{{note|e}}</span>
        </div>
    {% endif %}
</div>
<!-- If editing is enabled -->
{% if can_cancel or can_edit_user or can_edit_note %}
    <hr>
    <div class="session_info_cntrl_pannel" id="s_info_cntr_panel">
        {% if can_cancel %}
            <span id="cancel_btn" style="text-decoration: underline;font-weight: bold; cursor: pointer; float: right;">Delete</span>
        {% endif %}
    </div>
{% endif %}
{% if can_cancel %}
    <script type="text/javascript" src="js/controllers/CancelSession.js"></script>
{% endif %} 

{% if can_edit_note %}
    <script type="text/javascript" src="js/controllers/EditNote.js"></script>
{% endif %}

{% if can_edit_user  %}
    <script type="text/javascript" src="js/controllers/EditUser.js"></script>
{% endif %}


